@model HastaneOtomasyonu.Models.Ilac

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Ilac</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ilacKodu" class="control-label"></label>
                <input asp-for="ilacKodu" class="form-control" />
                <span asp-validation-for="ilacKodu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ilacAdi" class="control-label"></label>
                <input asp-for="ilacAdi" class="form-control" />
                <span asp-validation-for="ilacAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ilacMarkasi" class="control-label"></label>
                <input asp-for="ilacMarkasi" class="form-control" />
                <span asp-validation-for="ilacMarkasi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fiyat" class="control-label"></label>
                <input asp-for="fiyat" class="form-control" />
                <span asp-validation-for="fiyat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
